@mixin text ($ff, $fz, $lh, $fw, $color) {
    font-family: $ff;
    font-size: $fz;
    line-height: $lh;
    font-weight: $fw;
    color: $color;
}

  @mixin desktop-small-1200 {
    @media (max-width: $desktop-small) {
      @content;
    }
  }

  @mixin tablet-992 {
    @media (max-width: $tablet) {
      @content;
    }
  }
  
  @mixin tablet-small-768 {
    @media (max-width: $tablet-small) {
      @content;
    }
  }
  
  @mixin mobile-576 {
    @media (max-width: $mobile) {
      @content;
    }
  }